filings/
datasets/
test_eq.py
pysec_downloader/dummy_folder
.vscode/launch.json
main/parser/unused_ignore/
main/resources/test_set
main/configuration/secret.env
__pycache__/
main/__pycache__/
main/parser/__pycache__/
main/data_aggregation/__pycache__/

