resources/test_set
datasets/
test_eq.py
pysec_downloader/dummy_folder
.vscode/launch.json
main/parser/spacy_model (unused)/
main/parser/xbrl_parser (unused)/
main/resources/test_set
main/configuration/secret.env
__pycache__/
/__pycache__
/*.pyc
*.pyc
main/parser/spacy_model/training/model-best/vocab/vectors
main/parser/spacy_model/training/model-last/vocab/vectors
main/parser/spacy_model/data/dev.spacy
main/parser/spacy_model/data/dev.spacy
main/parser/spacy_model/data/test.spacy
pdf_playground.py
fact_extractor_playground.py