[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
psycopg-pool = "*"
psycopg = {extras = ["binary"], version = "*"}
polygon-api-client = "*"
pydantic = "*"
python-dotenv = "*"
pysec-downloader = "*"

[dev-packages]
black = "*"
tqdm = "*"
dkpro-cassis = "*"

[requires]
python_version = "3.10"
