[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pysec-downloader = "*"
pytest-postgresql = "*"
psycopg2 = "*"
pytest = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.10"
